
.map {
  text-transform: uppercase;
  font-size: 1rem;
  padding: 20px;
  padding-left: 10px;
  align-items: flex-start ;
  display: flex;
  justify-content: center;
  height: 70vh;
  width: 70vw
  
}

.google-map {
  width: 70%;
  height: 70%;
  position: fixed;
}

.pin {
  display: flex;
  align-items: center;
  width: 10px;
  color: var(--main-blue);
}

.pin-icon {
  font-size: 1rem;
}

.pin-text {
  font-size: 1.3em;
}

@media screen and (min-width: 799px) {
  .google-map {
    height: 70%;
  }

  .map-h2 {
    font-size: 1.3rem;
    font-weight: 400;
  }

  .pin {
    width: 15px;
  }

  .pin-icon {
    color: #106271;
    font-size: 25px;
  }
}
