.activitySelect {
    display :flex; 
    width: auto; 
    height: auto; 
    padding: 10px;
    border: rgba(224, 104, 104, 1);
    border-radius:4px; 
    margin: 5px; 
    background-color: rgba(219, 217, 217, 0.7) ; 
    align-items: center ;
    
  
    
    
  }

  .tripSelect{
    display:flex;
    /* border: 2px solid rgba(80, 80, 80, 0.7);  */
    padding: 10px;
  }

  .margeTitle{
    color:rgb(255, 255, 255);
    font-size: 160%;
    padding-right:4%;
    
  }

.bannerGradient{
  background: linear-gradient(.25turn, #FFF,20%,#106271);
}
.bannerGradientList{
  background: linear-gradient(#106271, 80%, #FFF);
}
