.site-collapse-custom-panel{
    background: linear-gradient( 0.25turn, #106271, 20%, #FFF);
    border: 0;
    font-weight: bold;
}

.site-card-border-less-wrapper{
    /* border: 3px solid rgba(16, 98, 113, 0.5); */
    box-shadow: 2px 2px 4px 2px rgba(16, 98, 113, 0.4);
    margin-bottom: 2%;
}