/* CSS NAVBAR _______________________*/

.devenezPartenaireButton{
  
    background-color: #106271;
    
      color: #ffffff;
      font-weight: 700;
      font-family: "Inter-Bold", "Inter", sans-serif;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    }
    
    .ensavoirplusButton{
      
      background-color: rgba(224, 104, 104, 0.8);
      
        color: #ffffff;
        font-weight: 700;
        font-family: "Inter-Bold", "Inter", sans-serif;
      width: 100%;
      height: 30px;
      
      border-radius: 5px;
      
      }
    
    .listNav{
      color: #106271;
      
    }